    .flot-placeholder,
	.headertext,
    .infotext,
	#sensor_sel {
	    font-size: 24px;
	}
	
    .smallinfotext {
        font-size: 16px;
        height: 24px;
    }
	.flot-placeholder {
	    width: 600px;
	    height: 200px;
	}
	
	.headertext {
	    height: 100px;
	    line-height: 100px;
	    color: #666666;
	    vertical-align: middle;
	}
	
	.infotext,
    .smallinfotext {
	    color: #666666;
	}
	
	.currentdata {
        color: #333333;
	    font-size: 80px;
	}
	
	.bgcolor0,
	.bgcolor1 {
	    border-radius: 12px;
	    padding: 5px;
	    margin: 5px;
	}
	
	.bgcolor0 {
	    background-color: #f0f0f0;
	}
	
	.bgcolor1 {
	    background-color: #e6e6e6;
	}