    body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #f0f0f0 !important;
    }

    .ui-widget {
    font-family: 'Ubuntu', sans-serif !important;
    }

    .headertext,
    .infotext,
    #sensor_sel {
        font-size: 24px;
    }
    
    .headertext {
        height: 100px;
        line-height: 100px;
        color: #333333;
        vertical-align: middle;
    }
    
    .infotext,
    .smallinfotext {
        color: #333333;
    }
    
    .smallinfotext {
    font-size: 20px;
    }

    .reading {
        color: #333333;
        font-family: 'Roboto', sans-serif;
        text-align:  left;
        display: inline-block;
        font-size: 80px;
        width: 85px;
    }

    .readingdecimal {
        color: #333333;
        font-family: 'Roboto', sans-serif;
        text-align:  left;
        display: inline-block;
        font-size: 50px;
        width: 40px;
    }
    
    .block-data,
    .block-info,
    .block-header {
        border-radius: 6px;
        padding: 15px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px;
        border-style: solid;
    }
    
    .block-data {
        background-color: #ffffff;
        border-color: #dddddd;
    }
    
    .block-info {
        background-color: #ffffff;
        border-color: #afb4bf;
    }

    .block-header {
        background-color: #ffffff;
        border-color: #b79c9c;
    }
    
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }